body{
font-family: 'Merriweather', serif;

}

.banner{
font-size:1em;
background-color:#2f3a4c;
color:white;
text-align:center;
padding:25px;
font-weight:bold;
}

.newsletter{
font-size:1em;
color:#2f3a4c;

}

.faint{
font-size:.75em;
color:#b6bac1;

}

.header{
border-bottom:4px solid #2f3a4c ;
margin-bottom:2px;
}

.contact-information{
border-top:2px solid #2f3a4c;
background-color:#7c7153;
}




input{
background-color:#e8ebef;
padding:15px;
border-radius:5%;
margin-top:10px;
}

select{
background-color:#e8ebef;
border-radius:5%;
padding:10px;

}

.news{

font-size:1.5em;
color:#2f3a4c;
font-weight:bold;

}

.news-info{
color:#555759;
background-color:#cdd671;
}


.text-area{
margin-top:5px;
font-size:1em;
}

textarea{

margin:auto;
background-color:#e8ebef;
border-radius:5px;
}

label{

}

button{
background-color:#88b4fc;
width:100%;
padding:20px;
color:white;
font-size:1.5em;
font-style:bold;
border-radius:5px;
}

footer{
font-style:italic;
color:#b6bac1;
}

input:focus{
background-color:#d69671;

}






@media(min-width:769px){

.header{
text-align:center;
}

.contact-information{
text-align:center;

}

select{
margin-top:5px;
}

input{
width:auto;
}


.news{
text-align:center;
}

.news-info{
text-align:center;
}

.text-area{
text-align:center;

}

footer{
text-align:center;
}

button{
margin-top:10px;
}

textarea{
margin-top:10px;
}

input:focus{
background-color:lightblue;
}


.contact-information{
border-top:2px solid #2f3a4c;
background-color:#0a89d8;
}


.news-info{
color:white;
background-color:#07466d;
}

}

